* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: black;
}

.main-header {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("/images/gallery0.jpg");
}

.main-header img {
  height: 100%;
  width: 95px;
  position: relative;
  top: -10%;
  left: 47%;
}

.menu {
  width: 100%;
  height: 10vh;
  background-color: black;
}
.menu i {
  color: aliceblue;
}
.menu i:hover {
  color: rgb(226, 211, 211);
}
.menu ul {
  text-align: right;
  list-style-type: none;
  margin-right: 50px;
}

.menu ul li {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  width: 8%;
  color: aliceblue;
}

.menu ul li a {
  color: rgb(243, 237, 237);
}

#navbar {
  position: fixed;
  z-index: 1;
}
.sub-header {
  height: 10%;
  width: 100%;
}
.logo,
.logo:hover {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: "Special Elite" cursive;
  font-weight: 600;
  font-size: 12px;
  float: left;
  margin: 15px 0 0 15px;
}

.text-box {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 10px;
}

.text-box:hover {
  background-color: rgba(0, 0, 0, 0.726);
  color: black;
  transition: 0.5s ease-in-out;
}

.text-box h1 {
  font-family: "Special Elite", cursive;
  font-size: 100px;
  margin: 10px;
  color: white;
  text-align: center;
}

.text-box p {
  color: white;
  position: relative;
  text-align: center;
}

.exp {
  display: flex;
  height: auto;
  width: 100%;
  display: flex;
  align-self: center;
  position: absolute;
  margin-top: 500px;
  margin-left: 450px;
}

.expbtn {
  width: 30%;
  color: white;
  background-color: none;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-style: solid;
  border-color: white;
  text-decoration: none;
  padding: 10px;
}

.expbtn:hover {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.432);
}

.cat-row {
  width: 100%;
  margin-bottom: 15px;
  margin: auto;
  margin-bottom: 100px;
  margin-left: 30px;
  height: auto;
}

.category {
  padding: 0px 0 0px 0;
  width: 600px;
  height: 320px;
  border-style: solid;
  border-radius: 0px;
  border-color: transparent;
  display: inline-block;
  margin: auto;
}

.category img {
  object-position: 0px 15%;
  border-radius: 0px;
  width: 600px;
  height: 320px;
  object-fit: cover;
}

.layer {
  width: 600px;
  height: 320px;
  border-radius: 0px;
  transition: 0.5s ease-in-out;
  position: absolute;
}
.layer:hover {
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.layer h4 {
  color: black;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.layer h4:hover {
  color: rgb(207, 198, 198);
}

@media (max-width: 800px) {
  .menu {
    margin: auto;
    width: 100%;
  }
  .category,
  .category img,
  .layer {
    margin: 0;
    width: 400px;
    height: 200px;
    padding: 0;
  }

  .text-box h1 {
    font-size: 50px;
  }
  .exp {
    position: absolute;
    margin-left: 120px;
  }
}

/*--------PRODUCT PAGE-------*/
.prod-sub-header {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  object-fit: contain;
}
.productvid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 26%;
}

.btn-container {
  position: relative;
  display: flex;
  height: 15%;
  width: 100%;
  display: flex;
  align-self: center;
}

#shopnow {
  margin-top: 500px;
  width: 50%;
  color: #000;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-style: solid;
  border-color: white;
  text-decoration: none;
}

.section2 {
  height: auto;
}

.product-header {
  color: white;
  font-size: 50px;
  background-color: black;
  font-family: "Special Elite", cursive;
  width: 100%;
  margin: auto;
  height: auto;
  text-align: center;
}
.mini-nav {
  padding: 10px;
}
.mini-nav button {
  padding: 10px 20px;
  margin: 5px;
  border-style: solid;
  border-color: white;
  background-color: transparent;
  color: white;
}
.mini-nav button:hover {
  background-color: rgb(192, 161, 161);
}
.container2 {
  width: 100%;
  text-align: center;
}
.container2 h1 {
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 600;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: black;
  display: none;
}

.card img {
  height: 382px;
  width: 298px;
  object-fit: cover;
}

.card h1 {
  font-size: 25px;
}

.price {
  color: rgb(118, 142, 179);
  padding: 2px;
  font-size: 22px;
  text-align: center;
}

input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.btn-container {
  width: 100%;
}
.topbtn {
  width: 40%;
  background-color: rgb(241, 234, 234);
  padding: 15px 8px;
  border-radius: 5px;
  margin: 10% 25% 25% 30%;
  height: 50%;
}
.topbtn:hover {
  background-color: rgb(223, 196, 196);
  transition: 0.5s ease;
}
.topbtn a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
.topbtn a:link,
a:visited {
  text-decoration: none;
}

#cart-counter {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
#cart-counter button {
  margin: 5px;
}
#cartnav {
  background-color: transparent;
  border-color: transparent;
}
.total-price {
  background-color: rgb(223, 196, 196);
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.delete-item {
  height: auto;
  margin: 0;
  color: #000;
  background-color: #cf5a5a;
}
.modal-footer button {
  background-color: black;
  margin: 0;
}
.modal-footer button:hover {
  background-color: #d3b3b3;
  color: white;
}
.footer {
  margin-top: 0px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  text-align: center;
  font-size: 13px;
  bottom: auto;
  color: white;
  height: auto;
}
.footer h4 {
  font-size: 15px;
}

/*filter by category*/
.filterDiv {
  float: left;
  background-color: #2196f3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .productvid {
    position: absolute;
    left: 5%;
  }
}
/*----------PROFILE PAGE---------- */

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.lgn {
  width: 40%;
  height: 20%;
  background-color: aqua;
}

/*--------------CART PAGE------*/
.cart-body {
  width: 100%;
}

.check-out {
  color: white;
  text-align: center;
  margin: 10px;
  height: auto;
  padding: 10px;
}

.check-out p {
  margin: 10px;
}

.animation {
  height: auto;
  width: 100%;
  padding: 10px;
}

/* 5 star rating */

.star-rating {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.star-rating a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Outfit", sans-serif;
}
.star-rating h3,
.star-rating p {
  width: 100%;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.rate {
  height: auto;
  padding: 50px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 38%;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.comment-box {
  height: auto;
  width: 80%;
  border-radius: 2px;
  margin: 60px 100px;
  padding: 10px 30px;
  text-align: left;
  background-color: rosybrown;
  font-size: 12px;
}
::placeholder {
  font-size: 12px;
  text-align: left;
}

.comment-box h3 {
  text-align: left;
}
.comment-form input,
.comment-form textarea {
  height: 10%;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.mini-btn {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
}

.contbtn {
  height: 100%;
  flex: 20%;
  text-decoration: none;
  text-align: center;
  color: white;
  border-style: solid;
  border-color: white;
  padding: 10px;
  margin: 40px;
}

.contbtn:hover {
  text-decoration: none;
  background-color: rgb(192, 161, 161);
  color: white;
}

/*----------- CHECKOUT PAGE--------*/
.form {
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  height: auto;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  height: auto;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.chkcontainer {
  font-family: "Outfit", sans-serif;
  background-color: rgb(243, 237, 237);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 30px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc; /* each inputborder */
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkoutbtn {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px 0px;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}

.checkoutbtn:hover {
  background-color: rgb(192, 161, 161);
  text-decoration: none;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .chkcontainer {
    margin: 20px;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*-----------REWARDS.HTML spin the wheel -------------- */

/* Sets the background image for the wheel */
td.the_wheel {
  background-image: url(./wheel_back.png);
  background-position: center;
  background-repeat: none;
}

/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

div.power_controls {
  margin-right: 70px;
}

div.html5_logo {
  margin-left: 70px;
}

/* Styles for the power selection controls */
table.power {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid #333333;
}

table.power th {
  background-color: white;
  cursor: default;
}

td.pw1 {
  background-color: #6fe8f0;
}

td.pw2 {
  background-color: #86ef6f;
}

td.pw3 {
  background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable {
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}
.power_controls {
  height: auto;
  color: black;
  text-align: center;
  font-weight: bold;
}

.power {
  font-weight: bolder;
}

/* index html gallery */
.gallery-header {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  text-align: center;
  height: 10%;
  margin: 20px;
  width: auto;
}
.mySlides {
  display: none;
  width: 580px;
  height: 380px;
  object-fit: cover;
  margin: auto;
  margin-bottom: 50px;
}
