* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: black;
}

.main-header {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(street.gif);
}
.main-header img {
  height: 70px;
  width: 95px;
  position: relative;
  top: -10%;
  left: 47%;
}

.menu {
  width: 100%;
  height: 10vh;
  background-color: black;
}
.menu i {
  color: aliceblue;
}
.menu i:hover {
  color: rgb(192, 161, 161);
}
.menu ul {
  text-align: right;
  list-style-type: none;
  margin-right: 50px;
}

.menu ul li {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  width: 8%;
  color: aliceblue;
}

.menu ul li a {
  color: rgb(243, 237, 237);
}

.menu ul li a:hover {
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.45s ease-in-out;
}

#navbar {
  position: fixed;
  z-index: 1;
}
.sub-header {
  padding: 0;
}
.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
}

.text-box h1 {
  font-family: "Special Elite", cursive;
  font-size: 70px;
  margin: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  top: 35%;
}
.text-box h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: rgb(241, 216, 229);
  text-align: center;
  position: relative;
  top: -88%;
}
.text-box h3 {
  font-family: "Outfit", sans-serif;
  color: rgb(241, 216, 229);
  position: relative;
  text-align: center;
  top: -140%;
}

.expbtn {
  height: 30px;
  width: 100px;
  border-color: black;
  position: relative;
  top: 60%;
  left: 37%;
}

.section2 {
  height: auto;
  color: aliceblue;
  margin: 10px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.mini-nav {
  width: 100%;
}

.mini-nav ul li {
  display: inline-block;
  margin: 30px;
}

.category {
  margin: 30px;
  margin-left: 30%;
  width: 600px;
  height: 320px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  padding: 0px;
  justify-content: center;
}

.category img {
  object-fit: cover;
  object-position: 0px 11%;
  border-radius: 10px;
  width: 600px;
  height: 320px;
}

.layer {
  width: 600px;
  height: 320px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  position: absolute;
}
.layer:hover {
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.layer h4 {
  color: black;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.layer h4:hover {
  color: rgb(207, 198, 198);
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 30px;
  }
  .mini-nav ul li {
    margin: 10px;
  }
  .category,
  .category img,
  .layer {
    margin: 10px 10%;
    width: 400px;
    height: 220px;
  }
  .menu,
  menu ul {
    width: 600px;
    text-align: right;
    padding: 10px;
    padding-bottom: 0;
  }
  .main-header {
    height: 70%;
    width: 100%;
  }
  .text-box {
    margin: 0;
    padding: 0;
    top: 360px;
  }
}

/*--------PRODUCT PAGE-------*/
.product-header {
  color: white;
  padding: 10px;
  padding-top: 20%;
  padding-bottom: 0%;
  margin: 0px;
  font-size: 70px;
  background-color: black;
  font-family: "Special Elite", cursive;
  width: 100%;
  text-align: center;
}
.container2 h1 {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 600;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: black;
  display: none;
}

.card img {
  height: 382px;
  width: 298px;
  object-fit: cover;
}

.card h1 {
  font-size: 25px;
}

.price {
  color: rgb(220, 170, 195);
  font-size: 22px;
  font-family: "Outfit", sans-serif;
}

input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.footer {
  margin-top: 0px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  text-align: center;
  font-size: 13px;
  bottom: auto;
  color: white;
  height: auto;
}
.footer h4 {
  font-size: 15px;
}

/*filter by category*/
.filterDiv {
  float: left;
  background-color: #2196f3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/*----------PROFILE PAGE---------- */

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.lgn {
  width: 40%;
  height: 20%;
  background-color: aqua;
}
/*-----------CART/PRODUCT PAGE------*/

.cart-header {
  color: white;
  padding: 10px;
  padding-top: 20%;
  padding-bottom: 0%;
  margin: 0px;
  font-size: 70px;
  background-color: black;
  font-family: "Special Elite", cursive;
  width: 100%;
  text-align: center;
}

.check-out {
  color: white;
  width: 100;
  text-align: center;
  margin: 0;
  height: 0;
  padding: 10px;
}
.check-out p {
  margin-top: 100px;
}
.cart-body {
}
/*-----------5 star rating--------*/
.rate {
  float: left;
  height: 46px;
  padding: 0px 50px;
  margin-top: 0;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/*----------- CHECKOUT PAGE--------*/
.form {
  font-family: "Outfit", sans-serif;
  font-size: 10px;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  height: auto;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.chkcontainer {
  background-color: #f5f3f3;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 30px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc; /* each inputborder */
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkoutbtn {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px 0px;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkoutbtn:hover {
  background-color: rgb(192, 161, 161);
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .chkcontainer {
    margin: 20px;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*-----------SPIN THE WHEEL-------------- */

/* Sets the background image for the wheel */
td.the_wheel {
  background-image: url(./wheel_back.png);
  background-position: center;
  background-repeat: none;
}

/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

div.power_controls {
  margin-right: 70px;
}

div.html5_logo {
  margin-left: 70px;
}

/* Styles for the power selection controls */
table.power {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid #333333;
}

table.power th {
  background-color: white;
  cursor: default;
}

td.pw1 {
  background-color: #6fe8f0;
}

td.pw2 {
  background-color: #86ef6f;
}

td.pw3 {
  background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable {
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}
.power_controls {
  height: auto;
  color: black;
  text-align: center;
  font-weight: bold;
}

.power {
  font-weight: bolder;
}
